{% extends "base.html" %}

{% block title %}
Makam Ekle
{% endblock title %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">

            <h1 class="mb-3">Makam Bul:</h1>

            <input id="makam_search" class="form-control mb-3" placeholder="Makam Ara..." />

            <ul id="my_makam_list">
                <!-- {% for makam in object_list %}
    
                <b>{{makam}}</b>
                <br>
    
                {% endfor %} -->
            </ul>

        </div>
        <div class="col-6">

            <h1>Eklenen Makamlar:</h1>

            <ul id="selected_makam_list"></ul>

        </div>
    </div>

</div>

{% endblock content %}

{% block scripts %}
<script>
    const my_data = '{{mkm_json}}'
    console.log(my_data)

    const cleaned_data = JSON.parse(my_data.replace(/&quot;/g, '"'))
    console.log(cleaned_data)

    const my_makam_input = document.getElementById('makam_search')
    console.log(my_makam_input)

    let makamFiltered = []

    my_makam_input.addEventListener('keyup', (e) => {

        my_makam_list.innerHTML = ""

        if (my_makam_input.value.length != 0) {
            makamFiltered = cleaned_data.filter(makam => makam['name'].includes(e.target.value)).slice(0, 10)
        }
        else {
            makamFiltered = []
        }

        console.log(makamFiltered)

        if (makamFiltered.length > 0) {

            makamFiltered.map(makam => {
                my_makam_list.innerHTML += `<li>${makam['name']}</li>`
            })

        }
        // else {

        //     my_makam_list.innerHTML = "<li>Makam Bulunamadı!</li>"

        // }
    })

    document.getElementById("my_makam_list").addEventListener("click", function (e) {

        if (e.target && e.target.nodeName == "LI") {
            console.log(e.target.innerHTML + " was clicked");

            selected_makam_list.innerHTML +=
            `
            <li id="${e.target.innerHTML}">
                <div class="row">
                    <div class="col-11">
                        ${e.target.innerHTML}
                    </div>
                    <div class="col-1">
                        <button onclick="removeMakamFromList(this)" class="btn btn-primary"><b>X</b></button>
                    </div>
                </div>
            </li>
            `
        }
    });

    function removeMakamFromList(elem){
        document.getElementById(elem.parentNode.parentNode.parentNode.id).remove()     
    }

</script>
{% endblock scripts %}