{% extends "base.html" %}

{% load static %}

{% block title %}
Profil
{% endblock title %}

{% block content %}

<div class="container">
    <h1>Oluşturduğunuz Parçalar:</h1>

    <ul>

        {% for piece in piece_list %}
        <li>
            <div class="row">

                <div class="col-6">{{piece}}</div>
                <div class="col-6"><a href="{% url 'makam_app:EditPieceView' pk=piece.pk %}" class="btn btn-primary">Edit</a></div>

            </div>
        </li>
        {% endfor %}

    </ul>
</div>






{% endblock content %}